body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: #fdfd96;
}

aside {
    width: 200px;
    padding: 20px;
    background-color: #081338;
    border-right: 8px solid rgb(13, 151, 175);
}

aside input {
    display: none;
}

aside a {
    font-size: 20px;
    display: block;
    padding: 5px;
    cursor: pointer;
    background-color: #71b6ff;
    color: rgb(3, 23, 70);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

aside a:hover {
    background-color: #ffd106;
    color: black;
}


img{
    height: 130px;
    width: 130px;
    border-radius: 70px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
}

iframe{
    position: relative;
    width:1070px;
    height: 100%;
}
