body{
    background-color: #005187;
}
.header{
    background-color: #4d82be;
    display: flex;
    border-radius: 100px;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}
.header .logo{
    cursor: pointer;
    margin-right: auto;
}
.header .logo img{
height: 70px;
border-radius: 70px;
transition: all o.2s;
}
.header .logo img:hover{
    transform: scale(1.2);
}
.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
    font-size: 700;
    color: beige;
    text-decoration: none;
    margin-right: 40px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
     font-size: 500;
    color: beige;
    text-decoration: none;
    color: #005187;
    background-color: beige;
    border-radius: 30px;
    
}
.header .btn button{
    font-weight: 700;
    color:#005187;
    padding: 9px 25px;
    background: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all o.3s ease 0s;
}
.header .btn button:hover{
    background-color: beige;
    color: #005187;
    transform: scale(1.1);
}
.Aabrir-menu{
    display:none;
}
@media screen and(max-width){
      .Aabrir-menu{
        display: block;
      }


      .nav{
        display: none;
      }
      .nav{
        position: absolute;
        top: 0;
        right: 0;
      }
      .nav-links{
        flex-direction: column;
        align-items: end;
      }
}
.botones{
    display: flex;
    align-items: center;
     justify-content: center;
     margin-top: 200px;
     border-radius: 50px;
     margin-left: 300px;

}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según sea necesario */
}

.botones {
    margin: 10px; /* Espacio entre las imágenes, ajustable según necesidades */
}
